.about-us
	height 667px
	background-color #f6f4f4
	background-image url(../../images/about-us/about-us__circles.png)
	background-repeat no-repeat
	background-position 300px 23px
	
	&__content
		margin-top 202px
		padding-top 40px
		background-image  url(../../images/title-top.png)
		background-repeat no-repeat
		background-position top left
		
	&__title
		margin-bottom 30px
		font-size 23px
		color $section-title-color
		font-weight 700
	
	&__text
		margin-bottom 33px
		font-size 14px
		color #949494
	
	&__photo-1
		display block
		margin-top -35px
		margin-left 75px
		max-width 750px
		z-index 1
	
	&__photo-2
		display block
		margin-top -255px
		z-index 10
		
		