.button
	padding 13px 46px
	font-size 12px
	font-weight 700
	color $blue
	text-transform uppercase
	background-color transparent
	border 3px solid $blue
	border-radius 4px
	outline none
	
	&:hover
	&:focus
		color $blue
		text-decoration none
		
	&--banner
		padding 23px 75px
		color $white
		background-color $blue
		border none
		box-shadow 0 0 35px rgba(#030303, .6)
	
		&:hover
		&:focus
			color $white
			background-color $blue
		
	&--about-us
		padding 13px 25px
		color $white
		background-color $blue
		border none
		box-shadow none
		
		&:hover
		&:focus
			color $white
			background-color $blue