.btn
	width 147px
	height 40px
	font-size 12px
	font-weight 700
	color $blue
	text-transform uppercase
	background-color transparent
	border 2px solid $blue
	border-radius 2px
	box-shadow 0 0 35px rgba(#030303, .31)