.feedback
	padding-bottom 40px
	min-height 1280px
	background-color $white
	background-image url(../../images/feedback/feedback__bg.jpg)
	background-repeat no-repeat
	background-position 0 bottom
	background-size 100%
	
	&__contacts
		margin 0 auto
	
	@media (max-width: $screen-xs-max)
		text-align center