.footer
	min-height 83px
	padding-top 35px
	background-color $footer-color
	
	&__copyright
		color #7cc0d4
		font-size ($text-font+2)
	
	&__phone
		margin-top -10px
		float right
		font-size 27px
		color #7cc0d4
		font-weight 700
		text-transform uppercase
	
	&__social-icons
		margin 0 auto
		margin-top -12px
		width 130px
		font-size 0
	
	&__twitter
	&__facebook
	&__vk
		margin-right 5px
		width 39px
		height @width
		display inline-block
		border-radius 3px
	
	&__vk
		margin-right 0