.form
	position relative
	padding-right 4px
	height 63px
	background-color $white
	border-radius 4px
	
	&__name
	&__phone
		position relative
		padding-left 20px
		width 100%
		height 60px
		line-height 60px
		border-radius 4px
		font-size 16px
		color #848484
		border none
		outline none
	
	&__phone
		padding-left 0
	
	&__name-border
		position absolute
		top 15px
		right 0
		display block
		height 35px
		width 2px
		background-color #ebebeb

	&__button
		margin-top 4px
		float right
	
	@media (max-width: $screen-xs-max)
		padding-right 0
		
		&__name
		&__phone
			margin-bottom 20px
		
		&__phone
			padding-left 20px
		
		&__name-border
			display none
		
		&__button
			margin-top 20px
			float none