.gallery
	min-height 943px
	background-color $white
	
	&__title
		margin 70px 0
		padding-top 35px
		font-size 35px
		color $section-title-color
		font-weight 700
		text-transform uppercase
		background-image url(../../images/title-top.png)
		background-repeat no-repeat
		background-position center 0
	
	&__img
		margin-bottom 30px
	
		&--top
			margin-top -100px
		
	@media (max-width: $screen-xs-max)
		&__img
			margin 0 auto
			margin-bottom 40px
			&--top
				margin-top 0
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
		&__img
			margin 0 auto
			margin-bottom 40px
			&--top
				margin-top 0
	
