.logos
	padding-top 83px
	min-height 180px
	background-color #f8f9fa
	
	&__img
		background-repeat no-repeat
		
		&--slack
			margin-top -3px
			margin-left 15px
			height 24px
		
		&--a
			margin-top -7px
			margin-left 40px
			height 36px
		
		&--google
			margin-top -5px
			margin-left 40px
			height 28px
		
		&--facebook
			margin-left 55px
			height 17px
		
		&--spotify
			margin-top -3px
			margin-left 72px
			height 24px
		
		&--nike
			margin-top -5px
			float right
			width 68px
			height 28px
	
	@media (max-width: $screen-xs-max)
		&__img
			background-position center
			
			&--slack
			&--a
			&--google
			&--facebook
			&--spotify
			&--nike
				margin-left 0
				margin-bottom 80px
			
			&--nike
				width 100%
				float none
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
		&__img
			background-position center
			
			&--slack
			&--a
			&--google
			&--facebook
			&--spotify
			&--nike
				margin-left 0
				margin-bottom 80px
			
			&--nike
				width 100%
				float none
	
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
		&__img
			margin-left 0
			background-position center