.logos
	padding-top 83px
	min-height 180px
	background-color #f8f9fa
	
	&__img
		background-repeat no-repeat
		
		&--slack
			margin-top -3px
			margin-left 15px
			height 24px
		
		&--a
			margin-top -7px
			margin-left 40px
			height 36px
		
		&--google
			margin-top -5px
			margin-left 40px
			height 28px
		
		&--facebook
			margin-left 55px
			height 17px
		
		&--spotify
			margin-top -3px
			margin-left 72px
			height 24px
		
		&--nike
			margin-top -5px
			width 69px
			float right
			height 28px
		