.menu
	font-size 0
	
	&__item
		margin-right 25px
		display inline-block
		font-size 12px
		font-weight 700
		text-transform uppercase
		color $gray //как тут быть с повторением?
		text-decoration none
		transition all .3s ease
		
		&--active
			padding-bottom 8px
			border-bottom: 2px solid $blue

		&:last-child
			margin-right 0
	
		&:hover
			padding-bottom 8px
			color $gray
			text-decoration none
			border-bottom: 2px solid $blue
			
		&:focus
			color $gray
			text-decoration none