.offer
	padding-bottom 40px
	min-height 650px
	background-image url(../../images/offer__bg.jpg)
	background-repeat no-repeat
	background-position left
	background-size cover
	
	&__title
		margin-top 145px
		margin-bottom 25px
		padding-top 40px
		font-size 23px
		font-weight 700
		color $section-title-color
		background-image url(../../images/title-top.png)
		background-repeat no-repeat
	
	&__text
		margin-bottom 25px
		font-size 16px
		color #949494
	
	@media (max-width: $screen-xs-max)
		padding-left 20px
		padding-right 20px
		text-align center
		
		&__title
			background-position center 0