.price
	padding-left 20px
	padding-right 12px
	position relative
	height 383px
	color $white
	background-repeat no-repeat
	background-size cover
	border-radius 5px
	overflow hidden
	
	&__stars
		margin-top 15px
		font-size 16px
	
	&__content
		margin-top 125px
	
	&__title
		font-size 28px
	
	&__text
		font-size $text-font
	
	&__cost
		padding-left 20px
		padding-right 15px
		height 62px
		position absolute
		left 0
		right 0
		bottom 0
		background-color rgba(#000, .18)
		
		&--before
			margin-top 20px
			float left
			font-size 18px
			text-decoration line-through
		
		&--after
			margin-top 15px
			float right
			font-size 26px
			font-weight 700
	
	@media (max-width: $screen-xs-max)
		margin 0 auto
		margin-bottom 40px
		width 204px
	
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
		margin-bottom 40px