.review
	margin-left 15px
	margin-right 25px
	padding-top 40px
	background-image url(../../images/review/commas.png)
	background-repeat no-repeat
	
	&__text
		margin-bottom 20px
		font-size 18px
		color #bcbcbc
		line-height 2
	
	&__info
		margin-bottom 140px
		line-height 68px
		font-size 16px
		color $blue
		
	&__photo
		margin-right 15px
		height 68px
		width @height
		float left
		border-radius 50%

	&__name
		font-weight 700