.travel
	padding-bottom 40px
	min-height 1075px
	background-color $white
	background-image url(../../images/travel/travel__bg-1.png), url(../../images/travel/travel__bg-2.jpg)
	background-repeat no-repeat
	background-position center 75px, 0 bottom
	background-size 100%
	
	&__title
		margin-top 55px
		margin-bottom 100px
		padding-top 25px
		font-size 35px
		text-transform uppercase
		font-weight 700
		color $section-title-color
		background-image url(../../images/title-top.png)
		background-repeat no-repeat
		background-position center 0